


* {
    --main-color: #a0804d !important;
    --secondry-color: black !important;
    --hover: black;
    --hover-btn: #cf9a61 !important;
}


#header {

    font-size: 30px;
    padding-bottom: 8px;
    color: var(--main-color) !important;
    position: relative;
}


#header::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -25px;
    height: 35px;
    width: 18px;
    background: var(--main-color);
    border-radius: 5px;
}

.dropdown .btn {
    color: var(--secondry-color) !important;
    font-size: 18px;
    border: 1 solid #acabab !important;
}

.dropdown-menu {

    text-align: center;
    padding: 10px 0;
}

.dropdown-item {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777777 !important;
    padding: 10px 20px;
}

.dropdown-item:hover {
    color: var(--hover) !important;
    background-color: white !important;
}


.dropdown-item:active,
.dropdown-item:focus {
    background-color: transparent !important;
    color: inherit !important;
    outline: none !important;
    box-shadow: none !important;
}

.offcanvas {
    width: 300px;
}

.offcanvas-title {
    font-weight: bold;
    letter-spacing: 2px;
}

.form-control {
    text-align: center;
}


input[type=range] {
    pointer-events: auto !important;
    background: transparent;
    position: absolute;
    top: 0;
}

input[type=range]::-webkit-slider-thumb {
    position: relative;
    z-index: 2;
    width: 16px;
    height: 16px;
    background: var(--main-color) !important;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}



.range-track {
    height: 5px;
    background: var(--main-color) !important;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    border-radius: 3px;
}

.range-track-fill {
    height: 5px;
    background: var(--main-color) !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    z-index: 1;
}

#resetPrice {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 0;
}

#resetPrice:hover {
    background-color: var(--hover-btn);
}

.section1 {
    display: flex;
    justify-content: space-between;
}


.card-img-top {
    width: 100%;
    height: 250px;
}

.card {
    border: none;
    background-color: rgb(246, 249, 251);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 5px rgb(148, 143, 143);
}

.card .btn {
    background-color: var(--main-color);
    color: aliceblue;
    font-weight: 700;
    border-radius: 0 !important;
    transition: all .4s ease-in-out;
}

.card .btn:hover {
    background-color: var(--hover-btn);
    color: aliceblue;
}

.product-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-actions button {
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    transition: all .3s ease-in-out;
}

.product-actions button:hover {
    background-color: #db4444;
    border-color: #db4444;
    color: white;
    fill: white !important;
}


@media (max-width: 767px) {
    .card {
        max-width: 70%;
        
        margin: 0 auto;
        
    }
}